<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
        id="Counter_app_menu"
        name="Counter App"
        sequence="10"
    />

    <menuitem
        id="Counter_app_submenu"
        name="Counter App"
        parent="Counter_app_menu"
        action="counter_app"
        sequence="10"
    />
    <menuitem
        id="SumOfCounters"
        name="Sum Of Counters"
        parent="Counter_app_submenu"
        action="SumOfCounters_action"
        sequence="10"
    />

    <menuitem
        id="TodoList"
        name="Todo List"
        parent="Counter_app_menu"
        action="TodoList_action"
        sequence="10"
    />

</odoo>